body {
  background: #f5f5f5;
  letter-spacing: 0.2rem;
  font-size: 0.85rem;
}

.container {
  max-width: 440px;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}
